
@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-weight: normal;
  src: url('../fonts/Montserrat-Light.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Raleway';
  font-weight: 300;
  src: url('../fonts/Raleway-Light.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Rokkitt';
  font-weight: 300;
  src: url('../fonts/Rokkitt-Light.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Sawarabi Mincho';
  font-weight: normal;
  src: url('../fonts/SawarabiMincho-Regular.woff2') format('woff2');
}