:root{
    --color-primary-light:#FFFFFF;
    --color-primary-black:#1D1D1D;
    --color-secondary-black:#333333;
    --color-background-light:#F2F2F2;
    --color-background-button:#FFFFFFE5;
    --color-primary-yellow:#F2C94C;
    --color-hero-title:#FFFFFF40;


    // --swiper-navigation-sides-offset: -80px;
}
$bp-mobile:480px;
$bp-tablet: 768px;
$bp-desktop:1280px;