@use "../utils/variables" as *;

.food {
  display: flex;
  flex-direction: column;
  gap: 30px;

  @media screen and (min-width: $bp-tablet) {
    gap: 72px;
  }

  &__list {
    position: relative;
    background-color: var(--color-secondary-black);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 26px;
    padding: 49px 0;

    &::after,
    &::before {
      @media screen and (min-width: $bp-tablet) {
        content: "";
        position: absolute;
      }

      //  width: 100%;
      height: 100%;
    }

    &::before {
      left: calc(13.4%);
      top: -28px;
      border-left: 2px solid var(--color-primary-yellow);
    }

    &::after {
      top: 20px;
      left: calc(13.7%);
      border-left: 1px solid var(--color-primary-yellow);
    }
  }

  &__image {
    display: none;

    @media screen and (min-width: $bp-tablet) {
      display: block;
      position: absolute;
      right: 0;
      width: clamp(250px, 40vw, 500px);
      height: auto;
    }
  }

  &__menu {
    margin-right: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    border: 1px solid;
    border-image: linear-gradient(90deg, #f5d06f, transparent) 22;
    width: 280px;
    padding: 8px 14px 16px 20px;

    @media screen and (min-width: $bp-tablet) {
      margin-right: 200px;
      padding: 11px 21px 20px 26px;
      border-image: linear-gradient(90deg, #f5d06f, transparent) 49;
      width: 348px;
      gap: 70px;
    }
  }

  &__icon {
    width: 70px;
    height: 56px;
    fill: var(--color-primary-yellow);
  }

  &__info {
    display: flex;
    flex-direction: column;
  }

  &__count {
    color: var(--color-primary-yellow);
    font-size: 36px;
    font-family: "Rokkitt";
    font-weight: 400;

    @media screen and (min-width: $bp-mobile) {
      font-size: 76px;
    }
  }
}
