@use "../utils/variables" as *;

.button {
  padding: 16px 0;
  border: none;
  font-family: "Montserrat";
  background: var(--color-background-button);
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.3s;
  height: 60px;
  font-size: 25px;
  width: 255px;

  &:hover {
    background: var(--color-primary-yellow);
  }
}
