@use "../utils/variables" as *;

.swiper-button__benefits {
  color: var(--color-primary-black);
  fill: var(--color-primary-black);
}

.benefits__container {
  position: relative;
  max-height: 422px;
  max-width: 1200px;
  margin: 0 auto;
}

.swiper-button-next,
.swiper-button-prev {
  display: none;

  @media screen and (min-width: $bp-tablet) {
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
  }
}

.swiper-button-prev {
  left: 0;

  transform: rotate(180deg);
}

.swiper-button-next {
  right: 0;
}
