.mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  background-color: var(--color-secondary-black);
  transform: translateY(-100%);
  transition: transform 0.8s;
  z-index: 2;
  padding: 20px 0;

  &.is-open {
    transform: translateY(0);
  }

  &__btn-close {
    fill: var(--color-primary-light);
    position: absolute;
    top: 20px;
    right: 24px;
    background-color: transparent;
    border: none;
  }

  &__menu {
    display: flex;
    gap: 30px;
    flex-direction: column;
    align-items: center;

    &--link {
      color: var(--color-primary-light);
      text-decoration: none;
      transition: color 0.3s;
    }

    &--link:hover {
      color: var(--color-brand-normal);
      font-weight: 600;
    }
  }
}
