@use "../utils/variables" as *;

.search-item {
  padding: 10px 15px;
  cursor: pointer;
  font-size: 14px;
  border-color: transparent;
}

.search-item:hover {
  background: transparent;
}

.highlight {
  background: var(--color-primary-yellow);
  font-weight: 600;
}
